<!-- FILEPATH: /d:/Users/anton/projects/sluzhebka_creator/templates/home.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to our website!</h1>
    <form method="post">
      <label for="location">Choose a location:</label>
      <select id="location" name="location">
        <option value="club">Клуб шестерки</option>
        <option value="conference">Конференц-зал</option>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
